  {% block title %}
     <h1> Главная Страница </h1>
  {% endblock %}

  {% block navigations %}
  <ul>
      <p> <a href="/"> <button>Главная </button> </a> </p>
      <p> <a href="my_shop/"> <button>Магазин</button></a> </p>
      <p> <a href="basket/"> <button>Корзина</button> </a> </p>
  </ul>
  {% endblock %}

   {% block buttons_shop %}
<ul>
     <p> <a>Ferrari <button> Купить</button></a>  </p>
     <p> <a>Lamborghini <button> Купить</button></a>  </p>
     <p> <a>Bicycle <button>Купить</button> </a>  </p>
     <p> <a href="/"><button>Вернуться</button></a></p>
</ul>
   {% endblock %}

  {% block basket %}
  <h1>Извините, ваша корзина пуста</h1>
<p> <a href="/"><button>Вернуться</button></a></p>
  {% endblock %}